// font styles

// colours
// primary

// neutral

// font colours

$transition-base: 250ms ease;
$tracking-s: -0.075ch;

$box-shadow: 32px 32px 92px -44px rgba(0, 0, 0, 0.47);

:root {
  // these variables are defined in the classic way to take advantage of var() fallback

  --gutter: var(--space-s-m);
  --border-radius: var(--step-0);
}
